@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@500;700&display=swap');

body {
    margin: 0;
    height: 100vh;
    background-color: #3B565C;
}

form {
    display: flex;
    flex-flow: column;
    margin: 5% 5%;
    background-color: #3996a8a2;
    border: solid #279bb3 3px;
    border-radius: 20px;
    padding: 5%;
    font-family: 'Bitter';
    font-weight: 500;
}

form > h1 {
    text-align: center;
    font-size: 2.5em;
    font-weight: 700;
}

div#contato {
    display: flex;
    flex-flow: column;
}

fieldset {
    padding-right: 7%;
    border: solid #279bb3 3px;
}

input {
    width: 100%; 
    margin-bottom: 5%;
    outline: none;
    border: solid #827872 1px;
}

input:focus, select:focus {
    background-color: #E6E6E6;
}

div#estado_civil {
    margin: 5% 0;
    display: flex;
    flex-flow: row;
    align-items: flex-start;
}

select {
    margin-left: 2%;
    width: 70%;
    outline: none;
    border: solid #827872 1px;
}

input[type="radio"], input[type="checkbox"] {
    margin: 0;
    width: min-content;
}

div {
    display: flex;
    align-items: center;
}

div#concordo {
    margin: 4% 0;
}

label.margem_esquerda {
    margin-left: 2%;
}

button {
    margin: 2% 2%;
    width: 30%;
    text-align: center;
}

div#button {
    justify-content: space-around;
}

@media (min-width: 768px) {
    div#contato {
        position: relative;
        right: 25%;
        margin-top: 4%;
    }

    label {
        width: 40%;
    }

    input {
        width: 40%;
        margin-bottom: 2%;
    }

    fieldset {
        display: flex;
        width: 32%;
    }

    fieldset#endereco {
        position: absolute;
        left: 50%;
        margin-top: 20vh;
    }

    div#estado_civil {
        flex-flow: column;
        margin: 0 0 2% 0;
        position: relative;
        left: 4.6%;
    }

    select {
        margin-left: 0;
        width: 40.8%;
    }

    fieldset#contato {
        position: relative;
        left: 4.5%;
    }

    div#concordo {
        position: relative;
        left: 4.6%;
        margin: 2% 0 0 0;
    }

    label.margem_esquerda {
        margin-left: 0.5%;
    }

    div#button {
        justify-content: flex-start;
    }
    
    button {
        width: 15%;
        margin-left: 5.5%;
        margin-top: 2%;
    }
}